.registrationFormMiddlePart{
    display:flex;
    margin-bottom: 20px;
}
#regForm{
    flex:70%;
    background-color:#F8F9FF;
    width: 100%;
    height: 100%;
    
}

#regForm-container{
    
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 120px;
}

#regForm-container>h1{
    color: #5861AE;
}

#input-field-block{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#input-field-block> div{
    margin-top: 25px;
    width:40%;
}

#input-field-block> div> label{
    color: #77838F;
}

.regForm-inputs{
    margin-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #77838F;
    outline: none;
    width: 390px;
    color: #424548;
    font: 600 17px 'Open Sans', sans-serif;
}

#agreement-block{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#agreement-block> input{
    width: 22px;
    height: 22px;
    cursor: pointer;
}

#agreement-block> p{
text-align: left;
text-decoration: underline;
letter-spacing: 0.49px;
color: #5861AE;
margin-left: 12px;
}

#regForm-Btn-2{
    color: #4552C1;
    border: 2px solid #4552C1;
    border-radius: 4px;
    font: 700 15px 'Avenir', sans-serif;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: #FFFFFF;
    margin-left: 45%;
    cursor: pointer;
}

#regForm-Btn-2:hover{
    background-color: #5861AE;
    color: #FFFFFF;
    border: none;
}


